.Player {
  width: 300px;
  padding: 5px;
  list-style: none;
  text-align: center;

  background-color: lightgray;
  &:nth-child(odd){
    background-color: thistle;
  }
}

.Player:first-of-type {
  font-weight: bold;
}

.Player__name {
  display: inline-block;
  text-align: center;
  width: 140px;
}

.Player__score {
  display: inline-block;
  width: 50px;
  text-align: center;
}

.Player__button {
  display: inline-block;
  width: 30px;
  text-align: center;
  cursor: pointer;
  position: relative;
  z-index: 0;

  &:hover {&::before {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: gray;
    opacity: 0.3;
    z-index: -1;
  }}
}
